.logo {
    display: flex;
    padding: 10px 20px 0 20px;
}

.logo-img {
    width: 40px;
    height: 40px;
    margin: 0 0 0 10px;
}

.search {
    background-color: #f0f2f5;
    border-radius: 50px;
    width: 100%;
    height: 40px;
    border: aliceblue;
    padding: 12px;
    margin: 0 0 0 21px;
    font-family: Arial, FontAwesome;
    outline: none;
}

.header-icon {
    display: flex;
    /* justify-content: space-around; */
    width: 100%;
}

.header-icon li {
    width: 20%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 2px;
}

.avatar {
    padding: 10px;
}

.img-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.header-right {
    /* display: flex;
    justify-content: space-around; */
    padding: 10px 26px 0 30px;
}

.icon-right {
    background-color: #f0f2f5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-right {
    color: black;
    text-decoration: none;
}

.header-icon li:hover {
    background-color: #f0f2f5;
    border-radius: 5px;
}

.nav-item:hover {
    background-color: #e5e7eb;
    border-radius: 5px;
}

.active {
    border-bottom: 2px solid blue;
}

.header-icon .active:hover {
    background-color: #fff;
    border-radius: 0px;
}

.icon-right:hover {
    background-color: #e5e7eb;
    color: black;
    border-radius: 50%;
    text-decoration: none;
}

.header-right-child {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header-right-child li:nth-child(1) {
    margin-top: 5px
}

.active-a {
    color: blue;
}