* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container-fluid {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

body {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.custom-container {
    height: 100%;
    position: fixed;
}